@import "variables";
@import "globals";


.card{
@include flexCenter(column);
}

.card-component{
    margin-top: 50%;
    max-width: 20.5rem;
    @include flexCenter(column);
    background-color: white;
    border-radius: 1.5rem;  
}

.image-card{
    max-width: 14.6875rem;
}

.principal-img{
    margin-top:-45%;
    margin-bottom: 0;
}
.shadow-img{
    margin-top: -50%;
}

.text-card{  
    @include flexCenter(column);
    padding: 1.5625rem;
    h1{
        @include titles();
    }
    .btn-question{
        padding: 0;
        max-width: 100%;
        background-color: transparent;
        border: none;
        @include flexCenter (row, space-around);
    }
}